{% extends 'base.html' %}

{%block head%} 

{% endblock %}

{% block body %} 
<div class="container"  > 
    <h1 style="text-align: center;"> Task Manager</h1> 
   <table border="2" style="width: max-content;border: 2px solid white;">
    <tr>
        <th>
            task
        </th>
        <th>
            Added
        </th>
        <th>
            Action
        </th>
    </tr>
    <tr>
        {% for task in tasks%}
        <td>{{task.content}}</td>
<td>{{task.date_created.date()}}</td>
<td> <a href=""> Add</a> <br>
    <a href="">Delete</a>
</td>
{%endfor%}

    </tr>
   </table>
   <form method="post" action="/">
    <input type="text" name="content" id="content">
    <input type="submit" value="Add Task">

   </form>
</div>
{% endblock %}